<section class="footer">
    <div class="container margin">
        <div class="upperImg">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel_img">
                        <img src="../../assets/images/GG Illustration-04.png" alt="">
                        <div class="panel_heading">
                            <h6 class=" text-white">1. Search for a GG Expert</h6>
                            <p style="color: #fff">Based on your class & interest area</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel_img">
                        <img src="../../assets/images/GG Illustration-05.png" alt="">

                        <div class="panel_heading">

                            <h6 class=" text-white">2. Book a Session</h6>
                            <p style="color: #fff">With the expert of your choice</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel_img">
                        <img src="../../assets/images/GG Illustration-06.png" alt="">

                        <div class="panel_heading">
                            <h6 class=" text-white">3. Enjoy Live Virtual Meeting</h6>
                            <p style="color: #fff">To get answers to you queries/doubts</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_hr">
                <hr>
            </div>
        </div>




        <div class="row text-left">
            <div class="text-lg-left  col-12 col-sm-6  col-md-4 col-lg-3">
                <h6 class=" text-white">Live Packages</h6>
                <ul class="footerUl">
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/live-packages/career-counselling-and-guidance-online/">
                            Career Counselling Packages</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/live-packages/academic-counselling-and-guidance-online/">
                            Academic Counselling Packages
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/live-packages/jobs-advise-and-guidance-online">
                            Jobs Advise Packages
                        </a>
                    </li>
                </ul>
                <h6 class=" text-white">Guidance</h6>
                <ul class="footerUl">
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-classes-for-8/">Online Classes
                            for 8th Class</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-classes-for-9th-class/">Online
                            Classes for 9th Class</a>
                    </li>

                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-live-classes-for-class-10/">Online Live
                            Classes for Class
                            10</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-solutions-for-class-11/">Online
                            Live Classes for Class 11</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-solutions-for-class-12/">Online
                            Live Classes for Class 12</a>
                    </li>

                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-classes-for-bba-students/">Online Classes for
                            BBA Students</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/bcom-financial-accounting-solutions-online/">Bcom
                            statistics
                            solutions online</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/live-online-classes-for-management-courses/">Live
                            Management
                            Classes</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-tutors-for-mba-pgdm-students/">Online Tutors
                            for MBA, PGDM
                            Students</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-programming-language-classes/">Online
                            Programming Language
                            Classes</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/study-in-abroad/">Study
                            in Abroad</a>
                    </li>
                </ul>
                <h6 class=" text-white"> CBSE Sample Question Paper</h6>
                <ul class="footerUl">
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/sample-question-paper-2021-22/">Sample Question Paper 2021-22</a></li>
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/sample-question-paper-2020-21/">Sample Question Paper 2020-21</a></li>
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/sample-question-paper-2019-20//">Sample Question Paper 2019-20</a></li>
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/sample-question-paper-2018-19/">Sample Question Paper 2018-19</a></li>
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/sample-question-paper-2017-18//">Sample Question Paper 2017-18</a></li>
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/sample-question-paper-2016-17//">Sample Question Paper 2016-17</a></li>
                </ul>
                <ul class="footerUl">
                    <h6 class=" text-white"> CBSE Curriculum</h6>
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/cbse-curriculum-class-9-10/">CBSE Curriculum Class 9 & 10</a></li>
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/cbse-curriculum-class-11-12/">CBSE Curriculum Class 11 & 12</a></li>
                </ul>
                <h6 class=" text-white"> CBSE Practice Questions</h6>
                <ul class="footerUl">
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/cbse-additional-questions-for-class-10/">CBSE Additional Questions Class 10</a></li>
                    <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/cbse-additional-questions-for-class-12/">CBSE Additional Questions Class 12</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h6 class=" text-white">Live Classes</h6>
                <ul class="footerUl">
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/8th-class-online-classes-live/">
                            8th Class Online Classes Live</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-online-class-8/">
                            CBSE Online Class 8
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-online-class-9/">
                            CBSE Online Class 9
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/9th-class-online-classes-live/">
                            9th class online classes live
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-classes-10th/">
                            Online Classes 10th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-online-class-11/">
                            CBSE Online Class 11
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-online-class-12/">
                            CBSE Online Class 12
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-class-12-live/">
                            CBSE Class 12 Live
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/11th-online-classes/">
                            11th online classes
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/12th-online-classes/">
                            12th online classes
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/bms-online-classes/">
                            BMS Online Classes
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/bca-online-classes/">
                            BCA Online Classes
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/bcom-online-classes/">
                            BCOM Online Classes
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/ba-online-classes/">
                            BA online classes
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/bba-online-classes/">
                            BBA Online Classes
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-classes-mba/">
                            Online Classes MBA
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/mca-online-coaching/">
                            MCA Online Coaching
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/mba-online-coaching/">
                            MBA Online Coaching
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/m-com-online-classes/">
                            M.Com Online Classes
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-classes-ma/">
                            Online Classes MA
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-maths-classes-for-class-10th/">
                            Online Maths Classes for Class 10th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-science-classes-for-class-10th/">
                            Online Science Classes for Class 10th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-social-science-classes-for-class-10th/">
                            Online Social Science Classes for Class 10th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-biology-classes-for-class-11th/">
                            Online Biology Classes for Class 11th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-maths-classes-for-class-9/">
                            Online Maths Classes For Class 9
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/10th-class-maths-online-coaching/">
                            10th Class Maths Online Coaching
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/live-class-10th-math/">
                            Live Class 10th Math
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-online-class-9-science">
                            CBSE Online Class 9 Science
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-science-classes-for-class-8/">
                            Online Science classes for class 8
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-maths-classes-for-class-8th/">
                            Online Maths Classes for Class 8th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/how-class-8th-live-classes-can-help-you-to-score-good-marks/">
                            How Class 8th Live Classes Can Help You To Score Good Marks?
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/hss-live-class-9-maths/">
                            HSS Live Class 9 Maths
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/ncert-biology-class-12-online/">
                            NCERT Biology Class 12 Online
                        </a>
                    </li>
                </ul>

                <div class="text-lg-left">
                </div>
            </div>


            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="extra-space"></div>
                <ul class="footerUl">
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-chemistry-classes-for-class-11th/">
                            Online Chemistry Classes for Class 11th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-maths-classes-for-class-11th/">
                            Online Maths Classes for Class 11th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-physics-classes-for-class-11th/">
                            Online Physics Classes for Class 11th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-chemistry-classes-for-class-12th/">
                            Online Chemistry Classes for Class 12th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-maths-classes-for-class-12th/">
                            Online Maths Classes for Class 12th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-physics-classes-for-class-12/">
                            Online Physics Classes For Class 12
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-math-coaching-for-class-12th/">
                            Online Math Coaching for Class 12th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-online-math-class-11th">
                            CBSE Online Math Class 11th
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/ncert-biology-class-11-online/">
                            NCERT Biology Class 11 Online
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-class-10-science/">
                            Online Class 10 Science
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-online-math-class-10/">
                            CBSE Online Math Class 10
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/online-class-12-biology/">
                     Online Class 12 Biology
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/hss-live-class-10-physics/
                        ">
                            HHSS Live Class 10 Physics
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/hss-live-10th-biology/">
   HSS live 10th biology
                        </a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/cbse-online-class-8-science/">
                         CBSE Online Class 8 Science
                        </a>
                    </li>

                </ul>
                <div class="text-lg-left">
                    <h6 class=" text-white">Live Courses</h6>
                    <ul class="footerUl">
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/advance-trading-strategies-using-futures-options/">Advance
                                Trading Strategy Using Futures Options</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/applied-quant-analytics-for-trading-investments/">Applied
                                Quant Analytics For Tradinginvestments</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/business-valuation-using-spreadsheets/">Business
                                Valuation using Spreadsheets</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/digital-marketing-course-online/">Digital
                                Marketing Course Online</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/dream-job-blueprint/">Dream Job
                                Blueprint</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/entrepreneurship-course-online/">Entrepreneurship
                                Course Online</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/financial-modelling-and-research">Financial
                                Modelling and Research</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/investment-banking-research-course-online/">Investment
                                Banking Research Course Online</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/memory-training-creative-learning/">Memory
                                Traning & Creative Learning</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/preparing-ielts-exam/">Preparing
                                for IELTS Exam</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/python-for-beginners/">Python
                                For Beginners</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/transitioning-to-a-career-in-cyber-security/">Transitioning
                                to a Career in Cyber Security</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/the-art-of-selling-online-e-commerce/">The
                                Art of Selling Online: E-Commerce</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/hr-professional-course/">HR Professional Course</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/soft-skills-course/">Soft Skills Course</a>
                        </li>
                        <li class="footerLi"> <a class="paragraph text-color" href="https://www.grabguidance.com/live-courses/train-the-trainer/">Train the Trainer</a>
                        </li>
                    </ul>
                </div>
                <div class="text-lg-left">

                </div>
            </div>


            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="text-lg-left">
                    <h6 class=" text-white">NCERT Books</h6>
                    <ul class="footerUl">
                        <li class="footerLi">
                            <a class="paragraph text-color" href="https://www.grabguidance.com/ncert-books/ncert-books-for-class-12/">NCERT Books
                                For Class 12</a>
                        </li>
                        <li class="footerLi">
                            <a class="paragraph text-color" href="https://www.grabguidance.com/ncert-books/ncert-books-for-class-11/">NCERT Books
                                For Class 11</a>
                        </li>
                        <li class="footerLi">

                            <a class="paragraph text-color" href="https://www.grabguidance.com/ncert-books/ncert-books-for-class-10/">NCERT Books
                                For Class 10</a>
                        </li>
                        <li class="footerLi">
                            <a class="paragraph text-color" href="https://www.grabguidance.com/ncert-books/ncert-books-for-class-9/">NCERT Books For
                                Class 9</a>
                        </li>
                        <li class="footerLi">
                            <a class="paragraph text-color" href="https://www.grabguidance.com/ncert-books/ncert-books-for-class-8/">NCERT Books For
                                Class 8</a>
                        </li>
                    </ul>

                    <ul class="footerUl">
                        <h6 class=" text-white">NCERT Exemplars</h6>
                        <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/ncert-exemplars/cbse-class-12-ncert-exemplars/">NCERT
                                Exemplars For Class 12</a></li>
                        <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/ncert-exemplars/ncert-exemplars-for-class-11/">NCERT
                                Exemplars For Class 11</a></li>
                        <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/ncert-exemplars/ncert-exemplars-for-class-10/">NCERT
                                Exemplars For Class 10</a></li>
                        <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/ncert-exemplars/ncert-exemplar-for-class-9/">NCERT
                                Exemplars For Class 9</a></li>
                        <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/ncert-exemplars/ncert-exemplar-for-class-8/">NCERT
                                Exemplars For Class 8</a></li>

                    </ul>

                    <ul class="footerUl">
                        <h6 class=" text-white"> CBSE Question Bank</h6>
                        <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/cbse-question-bank/cbse-question-bank-class-12/">CBSE Question Bank for Class 12</a></li>
                        <li class="footerLi"><a class="paragraph text-color" href="https://www.grabguidance.com/cbse-question-bank/cbse-question-bank-class-10/">CBSE Question Bank for Class 10</a></li>
                    </ul>

                </div>
                <div class="text-lg-left hide-on-desktop">


                </div>
                <div class="text-lg-left">

                </div>
            </div>
        </div>

        <div class="card_hr">
            <hr>
        </div>
        <div class="row text-left">
            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="img-size">
                    <img src="../../assets/images/logo-whitebg.png" alt="logo" width="170px" height="54px">
                </div>

                <div class="mt-3">
                    <p class="text-color">GrabGuidance is a unique marketplace platform offering personalised 1:1 online academic & career guidance for learners & students by highly experienced educators & professionals.
                    </p>
                </div>
                <h6 class=" text-white" style="margin-bottom: 14px;">Recognised by</h6>
                <div class="text-lg-left" id="page-section">
                    <div id="content"><img src="../../assets/images/aws.jpeg" alt="img"></div>
                    <div id="navbar"><img src="../../assets/images/start.jpeg" alt="img"></div>
                    <div id="navbar1"><img src="../../assets/images/dp.jpeg" alt="img"></div>
                    <div id="navbar2"><img src="../../assets/images/aws_activate.png" alt="img" style="display:none">
                    </div>
                    <div id="navbar3"><img src="../../assets/images/aws_activate.png" alt="img"></div>
                    <div id="navbar4"><img src="../../assets/images/agora (1).jpeg" alt="img"></div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <h6 class="text-white">Company</h6>
                <ul class="px-0">
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/about/">About Us</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/blog/">Knowledge
                            center</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/career/">Career</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/for-expert/">For
                            Experts</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/for-schools-colleges/">For
                            Schools/Colleges</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/for-corporates/">For
                            Corporates</a>
                    </li>
                    <li class="footerLi">
                        <a class="paragraph text-color" href="https://www.grabguidance.com/blog/">Blog
</a>
                    </li>

                </ul>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="text-lg-left">
                    <h6 class=" text-white">Get Help</h6>
                    <ul class="footerUl">
                        <li class="footerLi">
                            <a class="paragraph text-color" href="https://www.grabguidance.com/privacy-policy/">Privacy
                                Policy</a>
                        </li>
                        <li class="footerLi">
                            <a class="paragraph text-color" href="https://www.grabguidance.com/terms-conditions/">Terms
                                &
                                Condition</a>
                        </li>
                        <li class="footerLi">
                            <a class="paragraph text-color" href="https://www.grabguidance.com/faqs/">FAQ's</a>
                        </li>
                        <li class="footerLi">
                            <a class="paragraph text-color" href="https://www.grabguidance.com/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="text-lg-left">
                    <ul class="px-0 text-lg-left icon">
                        <li class="footerLi">
                            <h6 class=" text-white" style="margin-bottom:10px">Follow Us</h6>
                            <div class="d-flex w-sm-50 justify-content-start">
                                <div class="">
                                    <a class="text-color mr-3" href="https://www.facebook.com/grabguidance"><i
                                            class="fa fa-facebook" aria-hidden="true"></i></a>
                                </div>
                                <div class="">
                                    <a class="text-color mr-3" href="https://www.instagram.com/grabguidance/?igshid=1v5xdbtnscdle">
                                        <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                                <div class="">
                                    <a class="text-color mr-3" href="https://www.linkedin.com/company/grabguidance">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                                <div class="mr-3">
                                    <a class="text-color mr-3" href="https://www.youtube.com/channel/UCCQhX8fnLksAJc_Y1UvYH7g"><i
                                            class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                        <div class="mt-2">
                            <p class="text-color" style="margin-top:10px">
                                Copyright © 2021 Grab Guidance Services LLP
                                <br> All Rights Reserved
                            </p>
                        </div>
                        <li class="footerLi d-flex mt-3 justify-content-start">
                            <div class="">
                                <i class="fa fa-envelope-o headphone mr-1" aria-hidden="true"></i>
                            </div>
                            <div class="tatsu-icon_card-title-caption">
                                <p class="text-color">Info@grabguidance.com </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>