<header class="header-top">
    <div class="text-right">
        <span _ngcontent-vws-c106="" class="small- text-white" style="float: left !important; position: relative; top: 12px; left: 53px">Confusion to Conclusion</span>
        <div class="livebar">
            <nav>
                <ul>
                    <li class="nav-item margin-right ml-2 mr-0 first">
                        <a href="https://www.grabguidance.com/live-courses/" class="nav-link paragraph pb-0">
                            Live Courses
                            <img src="../../assets/images/dropdown-arrow.png" class="img" />
                        </a>
                        <div class="liveCourse-submenu">
                            <ul style="margin-top:20px; margin-bottom:20px;">
                                <li> <a href="https://www.grabguidance.com/live-courses/advance-trading-strategies-using-futures-options/">Advance
                                        Trading Strategy Using Futures Options</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/applied-quant-analytics-for-trading-investments/">Applied
                                        Quant Analytics For Tradinginvestments</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/business-valuation-using-spreadsheets/">Business
                                        Valuation using Spreadsheets</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/digital-marketing-course-online/">Digital
                                        Marketing Course Online</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/dream-job-blueprint/">Dream Job
                                        Blueprint</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/entrepreneurship-course-online/">Entrepreneurship
                                        Course Online</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/financial-modelling-and-research">Financial
                                        Modelling and Research</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/investment-banking-research-course-online/">Investment
                                        Banking Research Course Online</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/memory-training-creative-learning/">Memory
                                        Traning & Creative Learning</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/preparing-ielts-exam/">Preparing
                                        for IELTS Exam</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/python-for-beginners/">Python
                                        For Beginners</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/transitioning-to-a-career-in-cyber-security/">Transitioning
                                        to a Career in Cyber Security</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/the-art-of-selling-online-e-commerce/">The
                                        Art of Selling Online: E-Commerce</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/hr-professional-course/">HR
                                        Professional Course</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/soft-skills-course/">Soft Skills
                                        Course</a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-courses/train-the-trainer/">Train the
                                        Trainer</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item margin-right ml-2 mr-0 expert secnd">
                        <a class="nav-link paragraph pb-0" href="https://www.grabguidance.com/live-packages/">
                            Live Packages
                            <img src="../../assets/images/dropdown-arrow.png" class="img" />
                        </a>
                        <div class="liveCourse-submenu">
                            <ul style="margin-top:20px; margin-bottom:20px;">
                                <li> <a href="https://www.grabguidance.com/live-packages/academic-counselling-and-guidance-online/">
                                        Academic Counselling Packages
                                    </a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-packages/career-counselling-and-guidance-online/">
                                        Career Counselling Packages
                                    </a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/live-packages/jobs-advise-and-guidance-online">
                                        Jobs Advise Packages
                                    </a>
                                </li>


                            </ul>

                        </div>
                    </li>

                    <li class="nav-item margin-right ml-2 mr-0 expert secnd">
                        <a href="" class="nav-link paragraph pb-0">
                            For Institutions
                            <img src="../../assets/images/dropdown-arrow.png" class="img" />
                        </a>
                        <div class="liveCourse-submenu">
                            <ul style="margin-top:20px; margin-bottom:20px;">
                                <li> <a href="https://www.grabguidance.com/for-schools-colleges/">
                                        For School/Colleges
                                    </a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/for-corporates/">
                                        For Corporates
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </li>
                    <li class="nav-item margin-right ml-2 mr-0 expert secnd">
                        <a href="https://www.grabguidance.com/blog/" class="nav-link paragraph pb-0">
                            Knowledge Center
                            <img src="../../assets/images/dropdown-arrow.png" class="img" />
                        </a>
                        <div class="liveCourse-submenu">
                            <ul style="margin-top:20px; margin-bottom:20px;">
                                <li> <a href="https://www.grabguidance.com/knowledge-center/live-11-session/">
                                        1:1 Live Session
                                    </a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/knowledge-center/live-webinars/">
                                        Live Webinars
                                    </a>
                                </li>
                                <li> <a href="https://www.grabguidance.com/knowledge-center/tutorial-videos/">
                                        Tutorials
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </li>
                    <li class="nav-item margin-right ml-2 mr-0 expert secnd">
                        <a href="" class="nav-link paragraph pb-0">
                            Study Materials
                            <img src="../../assets/images/dropdown-arrow.png" class="img" />
                        </a>
                        <div class="liveCourse-submenu" style="width: 230px;">
                            <ul style="margin-top:20px; margin-bottom:20px;">
                                <li> <a href="https://www.grabguidance.com/ncert-books/" class="link hover">
                                        NCERT Books
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>

                                    </a>
                                    <div class="sub_menu-2">
                                        <ul>
                                            <li><a href="https://www.grabguidance.com/ncert-books/ncert-books-for-class-12/">NCERT
                                                    Books For Class 12</a></li>
                                            <li><a href="https://www.grabguidance.com/ncert-books/ncert-books-for-class-11/">NCERT
                                                    Books For Class 11</a></li>
                                            <li><a href="https://www.grabguidance.com/ncert-books/for-class-10/">NCERT
                                                    Books For Class 10</a></li>
                                            <li><a href="https://www.grabguidance.com/ncert-books/ncert-book-for-class-9/">NCERT
                                                    Books For Class 9</a></li>
                                            <li><a href="https://www.grabguidance.com/ncert-books/ncert-books-for-class-8/">NCERT
                                                    Books For Class 8</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li> <a href="https://www.grabguidance.com/ncert-solutions/" class="link">
                                        NCERT Exemplars
                                        <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <div class="sub_menu-2 solution">
                                        <ul>
                                            <li><a href="https://www.grabguidance.com/ncert-exemplars/cbse-class-12-ncert-exemplars/">NCERT
                                                    Exemplars For Class 12</a></li>
                                            <li><a href="https://www.grabguidance.com/ncert-exemplars/ncert-exemplars-for-class-11/">NCERT
                                                    Exemplars For Class 11</a></li>
                                            <li><a href="https://www.grabguidance.com/ncert-exemplars/ncert-exemplars-for-class-10/">NCERT
                                                    Exemplars For Class 10</a></li>
                                            <li><a href="https://www.grabguidance.com/ncert-exemplars/ncert-exemplar-for-class-9/">NCERT
                                                    Exemplars For Class 9</a></li>
                                            <li><a href="https://www.grabguidance.com/ncert-exemplars/ncert-exemplar-for-class-8/">NCERT
                                                    Exemplars For Class 8</a></li>
                                        </ul>
                                    </div>
                                </li>



                                <li> <a href="https://www.grabguidance.com/ncert-solutions/" class="link">
                                        CBSE Question Bank
                                        <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <div class="sub_menu-2 solution">
                                        <ul>
                                            <li><a href="https://www.grabguidance.com/cbse-question-bank/cbse-question-bank-for-class-12/">CBSE
                                                    Question Bank for Class 12</a></li>
                                            <li><a href="https://www.grabguidance.com/cbse-question-bank/cbse-question-bank-for-class-10/">CBSE
                                                    Question Bank for Class 10</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li> <a href="https://www.grabguidance.com/cbse-sample-question-paper/" class="link">
                                    CBSE Sample Question <br>Paper
                                    <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <div class="sub_menu-2 solution">
                                        <ul>
                                            <li><a href="https://www.grabguidance.com/sample-question-paper-2021-22/">Sample Question Paper 2021-22</a></li>
                                            <li><a href="https://www.grabguidance.com/sample-question-paper-2020-21/">Sample Question Paper 2020-21</a></li>
                                            <li><a href="https://www.grabguidance.com/sample-question-paper-2019-20//">Sample Question Paper 2019-20</a></li>
                                            <li><a href="https://www.grabguidance.com/sample-question-paper-2018-19/">Sample Question Paper 2018-19</a></li>
                                            <li><a href="https://www.grabguidance.com/sample-question-paper-2017-18//">Sample Question Paper 2017-18</a></li>
                                            <li><a href="https://www.grabguidance.com/sample-question-paper-2016-17//">Sample Question Paper 2016-17</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li> <a href="https://www.grabguidance.com/cbse-practice-questions/" class="link">
                                    CBSE Practice <br>Questions
                                    <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <div class="sub_menu-2" style="margin-left: -330px!important;">
                                        <ul>
                                            <li><a href="https://www.grabguidance.com/cbse-additional-questions-for-class-10/">CBSE Additional Questions For Class 10</a></li>
                                            <li><a href="https://www.grabguidance.com/cbse-additional-questions-for-class-12/">CBSE Additional Questions For Class 12</a></li>
                                        </ul>
                                    </div>
                                </li>



                                <li> <a href="https://www.grabguidance.com/cbse-curriculum/" class="link">
                                    CBSE Curriculum
                                    <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <div class="sub_menu-2 solution">
                                        <ul>
                                            <li><a href="https://www.grabguidance.com/cbse-curriculum-class-9-10/">CBSE Curriculum Class 9 & 10</a></li>
                                            <li><a href="https://www.grabguidance.com/cbse-curriculum-class-11-12/">CBSE Curriculum Class 11 & 12</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </li>




                    <li class="nav-item margin-right ml-2 mr-0 expert secnd">
                        <a href="https://www.grabguidance.com/blog/" class="nav-link paragraph pb-0">
                            Blog
                        </a>
                    </li>


                </ul>
            </nav>
        </div>
    </div>
</header>

<div (scroll)="onscroll()" [ngClass]="navbarfixed? 'fixed-top' : 'nofixed'">
    <nav class="navbar navbar-expand-lg black-bg" [ngClass]="scrWidth < 991 ? 'fixed-top' : ''">
        <a class="navbar-brand" href="https://www.grabguidance.com/">
            <div class="brand-icon">
                <img src="../../assets/images/logo-whitebg.png" style="object-fit: contain" width="148" height="46" class="d-inline-block align-center" alt="" />
            </div>
        </a>
        <!--mobile drop down-->
        <div class="hide" *ngIf="login">
            <div style="background-color: #000">
                <button type="button" class="dropbtn active" class="navbar-toggle collapsed ml-auto dropbtn active" data-toggle="collapse" data-target="#left" aria-expanded="false" aria-controls="navbar">
                    <span> Explore Grab Guidance</span>&nbsp;&nbsp;&nbsp;<img
                        src="../../assets/images/dropdown-arrow.png" style="
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
                brightness(102%) contrast(102%);
            " />
                </button>
            </div>

            <div class="collapse navbar-collapse1 non-flex" id="left" style="overflow: scroll">
                <ul class="navbar-nav ml-auto text-left" style="overflow: scroll">
                    <div class="">
                        <span class="close-btn navbar-toggle collapsed ml-auto dropbtn active" data-toggle="collapse" (click)="back()" data-target="#left"><img src="../../assets/ggsvg/cross.svg" style="
                  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
                    brightness(102%) contrast(102%);
                  width: 25px;
                " /></span>
                        <p class="sel">Select Classes</p>

                        <li class="hover_me" *ngFor="let subject of subjectData" value="{{ subject.id_class }}-{{ subject.class_name }}">
                            <a (click)="guidanceTab(subject)">
                                {{ subject.class_name }}
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <div class="sub-menu">
                                <ul>
                                    <span class="navbar-toggle collapsed ml-auto" data-toggle="collapse" data-target="#class" (click)="hideModal()">
                                        <img src="../../assets/ggsvg/back.svg" style="
                        filter: invert(100%) sepia(100%) saturate(0%)
                          hue-rotate(288deg) brightness(102%) contrast(102%);
                        width: 20px;
                      " />
                                    </span>
                                    <p class="cp">Career Guidance</p>

                                    <li *ngFor="let data of subject.carrer" value="{{ subject.carrer.guidance_name }}">
                                        <a (click)="exploreNavigate(data, subject, 'Career');">
                                            {{ data.guidance_name }}

                                        </a>
                                    </li>
                                    <p class="cp">Academic Guidance</p>
                                    <li class="" *ngFor="let data of subject.academic" value="{{ subject.academic.subject_name }}">
                                        <a (click)="exploreNavigate(data, subject, 'Academic')">
                                            {{ data.subject_name }}

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="hide" *ngIf="!login">
            <div style="background-color: #000">
                <button type="button" class="dropbtn active" class="navbar-toggle collapsed ml-auto dropbtn active" data-toggle="collapse" data-target="#left" aria-expanded="false" aria-controls="navbar">
                    <span> Explore Grab Guidance</span>&nbsp;&nbsp;&nbsp;<img
                        src="../../assets/images/dropdown-arrow.png" style="
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
            brightness(102%) contrast(102%);
        " />
                </button>
            </div>

            <div class="collapse navbar-collapse1 non-flex" id="left" style="overflow: scroll">
                <ul class="navbar-nav ml-auto text-left" style="overflow: scroll">
                    <div class="expLink">
                        <span class="close-btn navbar-toggle collapsed ml-auto dropbtn active" data-toggle="collapse" (click)="back()" data-target="#left"><img src="../../assets/ggsvg/cross.svg" style="
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
                brightness(102%) contrast(102%);
              width: 25px;
            " /></span>
                        <p class="sel">Select Classes</p>

                        <li class="hover_me" *ngFor="let subject of subjectData" value="{{ subject.id_class }}-{{ subject.class_name }}">
                            <a (click)="guidanceTab(subject);refresh();">
                                {{ subject.class_name }}
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <div class="sub-menu">
                                <ul>
                                    <span class="navbar-toggle collapsed ml-auto" data-toggle="collapse" data-target="#class" (click)="hideModal()">
                                        <img src="../../assets/ggsvg/back.svg" style="
                    filter: invert(100%) sepia(100%) saturate(0%)
                      hue-rotate(288deg) brightness(102%) contrast(102%);
                    width: 20px;
                  " />
                                    </span>
                                    <p class="cp">Career Guidance</p>

                                    <li *ngFor="let data of subject.carrer" value="{{ subject.carrer.guidance_name }}">
                                        <a (click)="exploreNavigate(data, subject, 'Career');refresh();">
                                            {{ data.guidance_name }}

                                        </a>
                                    </li>
                                    <p class="cp">Academic Guidance</p>
                                    <li class="" *ngFor="let data of subject.academic" value="{{ subject.academic.subject_name }}">
                                        <a (click)="exploreNavigate(data, subject, 'Academic');refresh();">
                                            {{ data.subject_name }}

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <!--Desktop dropdown Menu-->
        <div class="desktop-hide" *ngIf="!login">
            <div class="dropup">
                <button class="dropbtn">
                    Find An Expert 
                    <img src="../../assets/images/dropdown-arrow.png" class="img" alt="arrow" />
                    <!-- background: url('assets/images/dropdown-arrow.png') 95% no-repeat transparent padding-box !important; -->
                </button>
                <div class="dropup-content">
                    <p class="">Select Classes</p>
                    <li class="hover_me active" *ngFor="let subject of subjectData" value="{{ subject.id_class }}-{{ subject.class_name }}">
                        <a (click)="guidanceTab(subject);  refresh();" class="fg">
                            {{ subject.class_name }}
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <div class="sub-menu" [class.top_width]="top_var">
                            <ul>

                                <p>Career Guidance</p>
                                <li class=" active" id="hover2" *ngFor="let data of subject.carrer" value="{{ subject.carrer.guidance_name }}">
                                    <a (click)="exploreNavigate(data, subject, 'Career'); refresh();">
                                        {{ data.guidance_name }}

                                    </a>
                                </li>

                                <p>Academic Guidance</p>
                                <li class=" active" id="hover2" *ngFor="let data of subject.academic" value="{{ subject.academic.subject_name }}">
                                    <a (click)="exploreNavigate(data, subject, 'Academic'); refresh();">
                                        {{ data.subject_name }}

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="desktop-hide" *ngIf="login">
            <div class="dropup">
                <button class="dropbtn">
                    Find An Expert 
                    <img src="../../assets/images/dropdown-arrow.png" />
                    <!-- background: url('assets/images/dropdown-arrow.png') 95% no-repeat transparent padding-box !important; -->
                </button>
                <div class="dropup-content">
                    <p class="">Select Classes</p>
                    <li class="hover_me active" *ngFor="let subject of subjectData" value="{{ subject.id_class }}-{{ subject.class_name }}">
                        <a (click)="guidanceTab(subject)" class="fg">
                            {{ subject.class_name }}
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <div class="sub-menu" [class.top_width]="top_var">
                            <ul>

                                <p>Career Guidance</p>
                                <li class=" active" id="hover2" *ngFor="let data of subject.carrer" value="{{ subject.carrer.guidance_name }}">
                                    <a (click)="exploreNavigate(data, subject, 'Career')">
                                        {{ data.guidance_name }}

                                    </a>
                                </li>

                                <p>Academic Guidance</p>
                                <li class=" active" id="hover2" *ngFor="let data of subject.academic" value="{{ subject.academic.subject_name }}">
                                    <a (click)="exploreNavigate(data, subject, 'Academic')">
                                        {{ data.subject_name }}

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <app-search-expert [searchCriteria]="criteria"></app-search-expert>

        <!-- responsive button  -->

        <button type="button" class="navbar-toggle collapsed ml-auto" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-controls="navbar">
            <!-- <span class="navbar-toggler-icon" [ngClass]="open ? 'open' : 'close'" (click)="openSideNav()"></span> -->
            <span *ngIf="scrWidth < 991" class="sr-only">Toggle navigation</span>
            <span *ngIf="scrWidth < 991" class="icon-bar top-bar"></span>
            <span *ngIf="scrWidth < 991" class="icon-bar middle-bar"></span>
            <span *ngIf="scrWidth < 991" class="icon-bar bottom-bar"></span>
        </button>

        <div class="collapse navbar-collapse non-flex" id="navbarNav">
            <ul class="navbar-nav ml-auto text-left">
                <li class="nav-item mt-1 profile-show px-3 pt-3 pb-1" *ngIf="isUserLoggedIn == 'true'">
                    <div class="row mx-0">
                        <div class="col-4 px-0">
                            <img [src]="Imgurl" style="object-fit: cover" width="55" height="55" class="rounded-circle" />
                        </div>
                        <div class="col-8 px-0">
                            <ul class="list-unstyled">
                                <li>{{ username }}</li>
                                <li>
                                    <a class="nav-link paragraph p-0" *ngIf="!isAdmin" (click)="editProfile()">Edit
                                        Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="profile-line" />
                    <div class="nav-item margin-right mr-0 school">
                        <a class="nav-link paragraph p-0" (click)="dashBoard()">Dashboard</a>
                        <a class="nav-link paragraph p-0" (click)="logout()">Log Out</a>
                    </div>
                </li>
                <li *ngIf="login || scrWidth < 991" class="nav-item margin-right ml-2 mr-0 school">
                    <a href="https://www.grabguidance.com/" class="nav-link paragraph pb-0">
                        Home

                    </a>
                </li>
                <li *ngIf="login || scrWidth < 991" class="nav-item margin-right ml-2 mr-0 school">
                    <a href="https://www.grabguidance.com/live-courses/" class="nav-link paragraph pb-0">
                        Live Courses

                    </a>
                </li>

                <li *ngIf="login || scrWidth < 991" class="nav-item margin-right ml-2 mr-0 expert school">
                    <a href="https://www.grabguidance.com/live-packages/" class="nav-link paragraph pb-0">
                        Live Packages
                    </a>
                </li>

                <li *ngIf="login || scrWidth < 991" class="nav-item margin-right ml-2 mr-0 school school">
                    <a href="https://www.grabguidance.com/for-schools-colleges/" class="nav-link paragraph pb-0">
                        For Schools/Colleges
                    </a>
                </li>

                <li *ngIf="login || scrWidth < 991" class="nav-item margin-right ml-2 mr-0 expert school">
                    <a href="https://www.grabguidance.com/for-corporates/" class="nav-link paragraph pb-0">
                        For Corporates
                    </a>
                </li>

                <li *ngIf="login || scrWidth < 991" class="nav-item margin-right ml-2 mr-0 expert school show">
                    <a class="nav-link paragraph pb-0">
                        Study Materials
                        <span>⌄</span>
                    </a>
                    <div class="menuMobile">
                        <ul>
                            <li class="nav-item margin-right ml-2 mr-0 expert school">
                                <a href="https://www.grabguidance.com/ncert-books/" class="paragraph pb-0">NCERT
                                    Books</a>
                            </li>
                            <li class="nav-item margin-right ml-2 mr-0 expert school">
                                <a href="https://www.grabguidance.com/ncert-exemplars/" class="paragraph">NCERT
                                    Exemplars</a>
                            </li>
                            <li class="nav-item margin-right ml-2 mr-0 expert school">
                                <a href="https://www.grabguidance.com/cbse-question-bank/" class="paragraph">CBSE Question Bank</a>
                            </li>
                            <li class="nav-item margin-right ml-2 mr-0 expert school">
                                <a href="https://www.grabguidance.com/cbse-sample-question-paper/" class="paragraph">CBSE Sample Question Paper</a>
                            </li>
                            <li class="nav-item margin-right ml-2 mr-0 expert school">
                                <a href="https://www.grabguidance.com/cbse-practice-questions/" class="paragraph">CBSE Practice Questions</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item margin-right ml-2 mr-0 about">
                    <a href="https://www.grabguidance.com/about/" target="_blank" class="nav-link paragraph pb-0">
                        About Us
                    </a>
                </li>

                <li class="nav-item margin-right ml-2 mr-0 contact">
                    <a href="https://www.grabguidance.com/contact/" target="_blank" class="nav-link paragraph">
                        Contact Us
                    </a>
                </li>

                <li class="nav-item mt-1 expert-account" *ngIf="isUserLoggedIn != 'true' || userType == 'user'">
                    <a style="width:143px;" class="nav-link margin-right paragraph" (click)="becomeAnExpert()">
                        Expert Account
                    </a>
                </li>

                <li class="nav-item mt-1 ml-2" *ngIf="isUserLoggedIn != 'true' || userType == 'expert'">
                    <a style="width: 133px; margin-right: 20px;" class="nav-link paragraph" (click)="loginScreen()" data-userType="UserLogin">
                        User Account
                    </a>
                </li>

                <li class="nav-item dropdown mr-2 navpic" *ngIf="isUserLoggedIn == 'true'">
                    <a class="nav-link dropdown-toggle" *ngIf="isUserLoggedIn == 'true'" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="Imgurl" style="object-fit: cover" width="40" height="40" class="rounded-circle" />
                        <i class="fa fa-angle-down" aria-hidden="true" style="margin-left: 8px; font-size: 22px"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="dashBoard()">Dashboard</a>
                        <a class="dropdown-item" *ngIf="!isAdmin" (click)="editProfile()">Edit Profile</a>
                        <a class="dropdown-item" (click)="logout()">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <app-login-confirmation></app-login-confirmation>
        </div>
        <app-signin></app-signin>
    </nav>
</div>