<div class="w-100 main">
  <div class="verticle-center ">
    <div style="color: #777777!important; line-height: 1;">
      <i class="fa fa-frown-o" aria-hidden="true"></i>
    </div>
    <div class="text">404</div>
    <div class="page-not-found">Page Not found</div>
    <div class="paragraph mt-2" style="color: #c8cbca!important;">
      Page that you are looking for doesn't exits or an other error occured. <br>
        Go back or head over to GrabGauidance.com to choose a new directions.
  </div>
  <div class="clear"></div>
</div>
