<!-- <div class="container-fluid" class='discount-banner'><b>Hurry Up!</b> Get 10% off across the site with <b>GRAB10</b> coupon.
</div> -->
<app-navbar></app-navbar>
<div class="main">
  <section class="container-fluid p-0">
    <div class="row mx-0 ml-01">
      <div
        class="col-lg-12 col-md-12 col-sm-12 text-center"
        style="background: #000"
      >
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
          <div class="logo">
            <img
              src="../../assets/images/logo-whitebg.png"
              style="
                object-fit: cover;
                height: 100%;
                width: 90%;
                background-color: black;
              "
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-0">
      <div class="col-lg-7 col-md-12 col-sm-12 main-image">
        <div class="row">
          <div class="col-lg-9 offset-lg-3 offset-xl-3">
            <div class="xyz">
              <span class="spanheading">
                <h2 class="">
                  <b>Get Personalised <br />Guidance Online </b>
                </h2>
                <p class="paragraph mb-4">
                  Marketplace of Experts for Students & Professionals for Live
                  1:1 Sessions on Academic & Career Guidance
                </p>
              </span>
              <div class="sdd">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="whitebox1">
                      <h6>165+ Experts</h6>
                      <p class="p1">Best in Class</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="whitebox1">
                      <h6>20 Mins Session</h6>
                      <p class="p1">For Short Doubts</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="whitebox1">
                      <h6>Rs. 125</h6>
                      <p class="p1">Price as Low</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 main-image">
        <div class="row mx-0 main-heading right-img" style="text-align: left">
          <div class="col-lg-12">
            <img src="../../assets/images/home-hero-banner@2x (1).png" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="offset-lg-1 col-lg-8 col-md-12 col-sm-12 innerslid">
      <div id="slid">
        <div class="slid-mobile">
          <div class="card-box">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <div class="col-lg-12 col-md-12">
                  <div class="card box-right mb-2">
                    <div class="card-body">
                      <h6 class=" ">Live Courses</h6>
                      <ul class="footerUl liveCourse-submenu">
                        <li style="list-style-type: none"></li>
                        <li class="footerLi">
                          <a
                            class="paragraph text-color"
                            href="https://www.grabguidance.com/live-courses/entrepreneurship-course-online/"
                            >Entrepreneurship Course Online</a
                          >
                        </li>
                        <li class="footerLi">
                          <a
                            class="paragraph text-color"
                            href="https://www.grabguidance.com/live-courses/digital-marketing-course-online/"
                            >Digital Marketing Online Course</a
                          >
                        </li>
                        <li class="footerLi">
                          <a
                            class="paragraph text-color"
                            href="https://www.grabguidance.com/live-courses/python-for-beginners/"
                            >Python for Beginners</a
                          >
                        </li>
                      </ul>
                      <a
                        class="paragraph text-color"
                        href="https://www.grabguidance.com/live-courses/"
                      >
                        <h6
                          style="font-size: 14px !important; margin-top: -8px"
                        >
                          View All
                        </h6>
                      </a>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="col-lg-12 col-md-12">
                  <div class="card box-right mb-2">
                    <div class="card-body boxsize2">
                      <h6 class="mobileHead">For School/College</h6>
                      <ul class="footerUl liveCourse-submenu">
                        <li style="list-style-type: none"></li>
                        <div class="hover_all">
                          <li class="footerLi">
                            <a
                              class="paragraph text-color"
                              href="https://www.grabguidance.com/for-schools-colleges/"
                              >Marketing Solutions</a
                            >
                          </li>
                          <li class="footerLi">
                            <a
                              class="paragraph text-color"
                              href="https://www.grabguidance.com/for-schools-colleges/"
                              >Subscription for 1:1 Live Sessions</a
                            >
                          </li>
                          <li class="footerLi">
                            <a
                              class="paragraph text-color"
                              href="https://www.grabguidance.com/for-schools-colleges/"
                              >Many Workshops & Live Online Courses</a
                            >
                          </li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="col-lg-12 col-md-12">
                  <div class="card box-right mb-2 lastdiv">
                    <div class="card-body">
                      <h6 class=" " style="margin-bottom: -10px">
                        Live Packages
                      </h6>
                      <ul class="footerUl liveCourse-submenu">
                        <li style="list-style-type: none"></li>
                        <li class="footerLi">
                          <a
                            class="paragraph text-color"
                            href="https://www.grabguidance.com/live-packages/academic-counselling-and-guidance-online/"
                            >Academic Counselling Packages</a
                          >
                        </li>
                        <li class="footerLi">
                          <a
                            class="paragraph text-color"
                            href="https://www.grabguidance.com/live-packages/career-counselling-and-guidance-online/"
                            >Career Counselling Packages</a
                          >
                        </li>
                        <li class="footerLi">
                          <a
                            class="paragraph text-color"
                            href="https://www.grabguidance.com/live-packages/jobs-advise-and-guidance-online/"
                            >Job Advising Packages</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- <ng-template carouselSlide>
                                <div class="col-lg-12 col-md-12">
                                    <div class="card box-right mb-2 lastdiv">
                                        <div class="card-body boxsize2">
                                            <h6 class=" ">Live Packages</h6>
                                            <ul class="footerUl liveCourse-submenu">
                                                <li style="list-style-type:none;">

                                                </li>
                                                <li class="footerLi">
                                                    <a class="paragraph text-color" href="https://www.grabguidance.com/live-packages/live-career-guidance-packages/">Career
                                                        Guidance </a>
                                                </li>
                                                <li class="footerLi">
                                                    <a class="paragraph text-color" href="https://www.grabguidance.com/live-packages/live-academic-guidance-packages/">Academic
                                                        Guidance </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-template> -->
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row mx-0 mt-5">
      <div
        class="text-center offset-sm-1 offset-md-2 offset-lg-3 col-12 col-sm-10 col-md-8 col-lg-6 p-sm-0"
      >
        <h3 class="">What is GrabGuidance?</h3>
        <p class="">
          GrabGuidance is a marketplace for experts & learners. We provide an
          end to end solution to students for connecting with the right expert
          and get the perfect support through our enhanced technology interface
          where they can meet each other 1:1 live on our platform. We are
          specialised in providing online one to one personalised career
          counseling to students. We are also an online doubt solving platform
          offering short term academic guidance for students.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row mt-5 mx-0">
        <div class="text-center col-md-6 col-lg-4 px-0">
          <img
            src="../../assets/images/GG Illustration-01.png"
            alt="img"
            width="180"
            height="180"
          />
          <br />
          <p class="">Experienced & Qualified Experts of your Choice</p>
        </div>
        <div class="text-center col-md-6 col-lg-4 px-0">
          <img
            src="../../assets/images/GG Illustration-02.png"
            alt="img"
            width="180"
            height="180"
          />
          <br />
          <p class="">Comprehensive Solution for Online Learning</p>
        </div>
        <div class="text-center col-lg-4 px-0">
          <img
            src="../../assets/images/GG Illustration-03.png"
            alt="img"
            width="180"
            height="180"
          />
          <br />
          <p class="">Quick Guidance through Small Sessions</p>
        </div>
      </div>
    </div>
    <div class="mh-1">
      <div class="text-center">
        <h3>Listen, What Our Users Have To Say</h3>
      </div>
    </div>
    <div class="container testomonials-section">
      <div class="row">
        <div class="col-lg-11 col-md-12 col-sm-12">
          <div class="boxtest-container">
            <div class="slid-mobile">
              <div id="slid">
                <div class="card-box">
                  <owl-carousel-o [options]="customOptions2">
                    <ng-template carouselSlide>
                      <div class="col-lg-12 col-md-12">
                        <div class="card box-right mb-2">
                          <div class="card-body">
                            <div class="card-img bottom">
                              <img
                                ata-toggle="modal"
                                data-target="#myModal"
                                src="http://img.youtube.com/vi/eQB1b--33Xk/hqdefault.jpg"
                                class="thumbnail_img"
                                height="280px"
                                frameborder="0"
                                allowtransparency="true"
                                style="object-fit: cover"
                              />
                              <a href="#Geekscap" data-toggle="modal">
                                <button
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  class="btn_play"
                                  style="border: none"
                                ></button>
                                <span
                                  class="ply"
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  ><img
                                    class="play_image"
                                    src="../../assets/images/Group_64299-removebg-preview.png"
                                    alt=""
                                    data-toggle="modal"
                                    data-target="#myModal"
                                    height="42px" /></span
                              ></a>
                            </div>
                            <div class="mb-001">
                              <h6 class="m-6">Vansch Narang</h6>
                              <p>Guidance for Aviation Sector</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="col-lg-12 col-md-12">
                        <div class="card box-right mb-2">
                          <div class="card-body">
                            <div class="card-img bottom">
                              <img
                                data-toggle="modal"
                                data-target="#myModal"
                                src="http://img.youtube.com/vi/rEHKlzK42J4/hqdefault.jpg"
                                class="thumbnail_img"
                                height="280px"
                                frameborder="0"
                                allowtransparency="true"
                                style="object-fit: cover"
                              />
                              <a href="#Geeksshery" data-toggle="modal">
                                <button
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  class="btn_play"
                                  style="border: none"
                                ></button>
                                <span
                                  class="ply"
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  ><img
                                    class="play_image"
                                    src="../../assets/images/Group_64299-removebg-preview.png"
                                    alt=""
                                    data-toggle="modal"
                                    data-target="#myModal"
                                    height="42px" /></span
                              ></a>
                            </div>
                            <div class="mb-001">
                              <h6 class="m-6">Shreya Sharma</h6>
                              <p>Guidance for Human Resources</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="col-lg-12 col-md-12">
                        <div class="card box-right mb-2">
                          <div class="card-body">
                            <div class="card-img bottom">
                              <img
                                data-toggle="modal"
                                data-target="#myModal"
                                src="http://img.youtube.com/vi/F0xHUx-FCmw/hqdefault.jpg"
                                class="thumbnail_img"
                                height="280px"
                                frameborder="0"
                                allowtransparency="true"
                                style="object-fit: cover"
                              />
                              <a href="#Geeks2" data-toggle="modal">
                                <button
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  class="btn_play"
                                  style="border: none"
                                ></button>
                                <span
                                  class="ply"
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  ><img
                                    class="play_image"
                                    src="../../assets/images/Group_64299-removebg-preview.png"
                                    alt=""
                                    data-toggle="modal"
                                    data-target="#myModal"
                                    height="42px" /></span
                              ></a>
                            </div>
                            <div class="mb-001">
                              <h6 class="m-6">Deputy Commandant Y.K Poonia</h6>
                              <p>Guidance for son's Career Path</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="col-lg-12 col-md-12">
                        <div class="card box-right mb-2">
                          <div class="card-body">
                            <div class="card-img bottom">
                              <img
                                data-toggle="modal"
                                data-target="#myModal"
                                src="http://img.youtube.com/vi/tFDn5kmDbdk/hqdefault.jpg"
                                class="thumbnail_img"
                                height="280px"
                                frameborder="0"
                                allowtransparency="true"
                                style="object-fit: cover"
                              />
                              <a href="#Geeksmehak" data-toggle="modal">
                                <button
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  class="btn_play"
                                  style="border: none"
                                ></button>
                                <span
                                  class="ply"
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  ><img
                                    class="play_image"
                                    src="../../assets/images/Group_64299-removebg-preview.png"
                                    alt=""
                                    data-toggle="modal"
                                    data-target="#myModal"
                                    height="42px" /></span
                              ></a>
                            </div>
                            <div class="mb-001">
                              <h6 class="m-6">Miss Mehakk</h6>
                              <p>Guidance for Abroad Study</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="col-lg-12 col-md-12">
                        <div class="card box-right mb-2">
                          <div class="card-body">
                            <div class="card-img bottom">
                              <img
                                data-toggle="modal"
                                data-target="#myModal"
                                src="http://img.youtube.com/vi/eQB1b--33Xk/hqdefault.jpg"
                                class="thumbnail_img"
                                height="280px"
                                frameborder="0"
                                allowtransparency="true"
                                style="object-fit: cover"
                              />
                              <a href="#Geekscap" data-toggle="modal">
                                <button
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  class="btn_play"
                                  style="border: none"
                                ></button>
                                <span
                                  class="ply"
                                  data-toggle="modal"
                                  data-target="#myModal"
                                  ><img
                                    class="play_image"
                                    src="../../assets/images/Group_64299-removebg-preview.png"
                                    alt=""
                                    data-toggle="modal"
                                    data-target="#myModal"
                                    height="42px" /></span
                              ></a>
                            </div>
                            <div class="mb-001">
                              <h6 class="m-6">Vansch Narang</h6>
                              <p>Guidance for Aviation Sector</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </owl-carousel-o>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container gudanceTab">
      <div class="row justify-content-center mx-0">
        <div class="card card-black">
          <div class="card-body text-center">
            <h4 class="card-title my-5"><b>Get Guidance For</b></h4>
            <div class="middle">
              <p>&nbsp; Classes &nbsp;</p>
            </div>
            <div class="d-flex justify-content-center flex-wrap" id="classes">
              <div *ngFor="let class of classes">
                <button
                  class="btn text-white"
                  style="font-size: 14px"
                  (click)="guidanceTab(class)"
                >
                  {{ class.class_name }}
                </button>
              </div>
            </div>
            <div class="row ml mr mb justify-content-center">
              <app-landing-classes-data></app-landing-classes-data>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center container mt-5">
    <hr />
  </div>
  <section>
    <div class="row mx-0 mt-5">
      <div
        class="text-center offset-sm-1 offset-md-2 offset-lg-3 col-12 col-sm-10 col-md-8 col-lg-6 p-sm-0"
      >
        <h3 class="">How it Works?</h3>
        <p class="">
          We provide a seamless experience starting from choosing a right expert
          for your confusion to getting resolution to your queries and reaching
          to conclusion.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row mt-5 mx-0">
        <div class="text-center col-md-6 col-lg-4">
          <img
            src="../../assets/images/GG Illustration-04.png"
            alt="img"
            width="180"
            height="180"
          />
          <h5 class="circularMedium">1. Search for an Expert</h5>
          <p class="mt-2 howitWorks">Based on your Class & Interest Area</p>
        </div>
        <div class="text-center col-md-6 col-lg-4">
          <img
            src="../../assets/images/GG Illustration-05.png"
            alt="img"
            width="180"
            height="180"
          />

          <h5 class="circularMedium">2. Book a Session</h5>
          <p class="mt-2 howitWorks">With the Expert of your Choice</p>
        </div>
        <div class="text-center col-lg-4">
          <img
            src="../../assets/images/GG Illustration-06.png"
            alt="img"
            width="180"
            height="180"
          />
          <h5 class="circularMedium">3. Enjoy Live Meeting</h5>
          <p class="mt-2 howitWorks">For your Concepts or Doubts</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center container mt-5">
    <hr />
  </div>

  <section id="slider">
    <div class="">
      <div class="row mx-0 mt-5">
        <div
          class="text-center offset-sm-1 offset-md-2 offset-lg-3 col-12 col-sm-10 col-md-8 col-lg-6 p-sm-0"
        >
          <h3 class="">
            Book Your Session with our Great Experts and Get the Right Guidance
            Real Time
          </h3>
          <p class="">
            GrabGuidance has onboarded highly Industry experts working with big
            corporates at senior positions to provide you the right
            mentorship.Many of our experts are passed out from IIMs, IITs and
            many such top premier institutes of our country.
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-5 row-single is_scrollable">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let data of featured; let i = index">
          <div class="col-medium-20 mt-4">
            <div class="main-card">
              <div class="card-body sec01">
                <div class="card-img bottom">
                  <img
                    [src]="createImageUrl(data.pic)"
                    (click)="gotoProfile(data)"
                    alt="img"
                    width="100%"
                    height="100%"
                  />
                </div>

                <div
                  class="font-size12 circularBook"
                  style="margin-top: 10px !important"
                  (click)="gotoProfile(data)"
                >
                  <i class="pi pi-star icon-style"></i>
                  <span class="mr-1 small-text" style="color: black"
                    >({{ data.rating.rating ? data.rating.rating : 0 }})
                  </span>
                  <!-- <span class="small-text">rating</span> -->
                  <span style="font-size: 6px" class="mr-1 ml-1">&bull;</span>
                  <span class="small-text">{{ data.place }}</span>
                </div>
                <div (click)="gotoProfile(data)">
                  <h6 class="m-6">{{ data.name | titlecase }}</h6>
                  <p class="m-6" style="line-height: 24px">
                    {{ data?.education?.degree }} in
                    {{ data?.education?.specialization }} <br />
                    {{ data.total_experience }} Years Experience Overall <br />
                  </p>
                  <p class="m-6">
                    <b style="color: black"
                      >From &#x20B9; {{ data.ratePerSession }}</b
                    >/Session
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
  <section>
    <div class="text-center container mt-5">
      <hr />
    </div>
  </section>
  <section class="text-center">
    <div class="row mx-0 mt-sm-5">
      <div
        class="text-center offset-sm-1 offset-md-2 offset-lg-3 col-12 col-sm-10 col-md-8 col-lg-6 p-sm-0"
      >
        <p *ngFor="let data; as: blog">{{ data.id }}</p>
        <h3 class="">Become GG Expert Partner?</h3>
        <p class="">
          We want great teachers, professors, educators and counsellors to
          become our partners in achieving the mission of providing quality
          academic and career guidance to students and learners. If you are one
          of them, GrabGuidance will provide you with a complete platform to...
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row mt-5 mx-0">
        <div class="col-12 col-sm-6 col-lg-3">
          <img
            src="../../assets/images/GG Illustration-07.png"
            alt="img"
            width="180"
            height="180"
          />
          <br />
          <h5 class="">Market your Services</h5>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <img
            src="../../assets/images/GG Illustration-08.png"
            alt="img"
            width="180"
            height="180"
          />
          <br />
          <h5 class="">Earn Huge Income</h5>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <img
            src="../../assets/images/GG Illustration-09.png"
            alt="img"
            width="180"
            height="180"
          />
          <br />
          <h5 class="">Set your Own Schedule</h5>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <img
            src="../../assets/images/GG Illustration-10.png"
            alt="img"
            width="180"
            height="180"
          />
          <br />
          <h5 class=""><b>Take Online Classes</b></h5>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center mx-0" style="margin-bottom: -45px">
        <div class="card card-black">
          <div class="card-body text-center">
            <h4 class="card-title cirucularBold my-5">
              <b>What Our Experts Say About Us?</b>
            </h4>
            <div class="row">
              <div class="col-12 col-md-4 reviewBorder">
                <div class="card-body">
                  <p class="text-white" style="font-size: 14px">
                    It provides an amazing technology system to conduct online
                    live classes. Simply Great. No need to use Zoom or Google
                    now.
                  </p>
                  <div class="mt-3">
                    <h6 class="circularBlack text-white">Dr. Bhavya Taneja</h6>
                    <p class="small-text text-white">
                      GRABGUIDANCE EXPERT SINCE 2020
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4 reviewBorder">
                <div class="card-body">
                  <p class="text-white" style="font-size: 14px">
                    GrabGuidance has efficient system of managing our records of
                    sessions and income with timely payment.
                  </p>
                  <div class="mt-3">
                    <h6 class="circularBlack text-white">Dr. Manali Takkar</h6>
                    <p class="small-text text-white">
                      GRABGUIDANCE EXPERT SINCE 2020
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 reviewBorder">
                <div class="card-body">
                  <p class="text-white" style="font-size: 14px">
                    I've got many good students from this platform. I've given
                    them academic and career guidance.The students are very
                    satisfied with my guidance.
                  </p>
                  <div class="mt-3">
                    <h6 class="circularBlack text-white">Sanchita Ghosh</h6>
                    <p class="small-text text-white">
                      GRABGUIDANCE EXPERT SINCE 2021
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container mt-5">
            <div class="row justify-content-center mx-0" style="margin-bottom: -45px">
                <div class="card card-black">
                    <div class="card-body text-center">
                        <h4 class="card-title cirucularBold my-5"><b>What They Say About Us?</b></h4>
                        <div class="row">
                            <div class="col-12 col-md-4" [ngClass]="{'reviewBorder': i == 1}" *ngFor="let slide of reviews; let i=index">
                                <div class="card-body">
                                    <p class="text-white" style="font-size: 14px;">
                                        {{slide.comment}}
                                    </p>
                                    <div class="mt-3">
                                        <h6 class="circularBlack text-white">{{slide.name}}</h6>
                                        <p class="small-text text-white">{{slide.class}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="text-center container mt-5">
            <hr>
        </div> -->
  </section>
  <div class="text-center container mt-5">
    <hr />
  </div>
  <section class="text-center">
    <div class="container">
      <h3 class="circularBlack mt-sm-5 mt-2">
        How to become a GG Expert Partner?
      </h3>
      <div class="row mt-5 mx-0">
        <div class="col-12 col-sm-6 col-lg-3">
          <h5 class="circularMedium">1. List Your Profile</h5>
          <p class="circularBook mt-2">By signing in & registering</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <h5 class="circularMedium">2. Get Approved</h5>
          <p class="circularBook mt-2">After validation process</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <h5 class="circularMedium">3. Get Equipped</h5>
          <p class="circularBook mt-2">By our in-house team</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <h5 class="circularMedium">4. Start Taking Sessions</h5>
          <p class="circularBook mt-2">And start earning Income</p>
        </div>
      </div>
      <div class="d-flex mt-5 justify-content-center">
        <button class="btn buttons normal" (click)="becomeAnExpert()">
          Register as Expert
        </button>
        <button
          class="btn buttons responsive"
          data-toggle="modal"
          data-target="#responsiveModal"
        >
          Register as Expert
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="responsiveModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="responsiveModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Expert Registeration
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            In order to resgister as an expert please go to desktop view.
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center container mt-5">
    <hr />
  </div>

  <!-- <section class="blog">
        <div class="container">
            <h3 class="circularBlack mt-sm-5 mt-2" style="text-align:center">GrabGuidance Knowledge Center</h3>
            <div class="view-allBlogs">
                <h6><a href="https://www.grabguidance.com/blog/">View All Articles
                        &amp; Blog</a></h6>
            </div>
            <div class=" row mt-5 mx-0">
                <div class="col-12 col-sm-6 col-lg-3" *ngFor="let blog of blogsData">
                    <div class="blog_img">
                        

                        <a href="{{blog.link}}">
                            <img [src]="(blog.featured_media_src_url)">
                      
                        </a>
                    </div>
                    <div class="playshoebtn">
                        <a href="{{blog.link}}">
                            <button class="btn_play" style="background: ; border:none"></button>
                            <span class="ply"><img class="play_image"
                                    src="../../assets/images/Group_64299-removebg-preview.png" alt=""></span>
                        </a>
                    </div>
       
                    <a href="{{blog._embedded['wp:term']['0']['0'].link}}" class="exp-term">{{blog._embedded['wp:term']['0']['1'].name}}</a>
                    <a href="{{blog.link}}">
                        <h5>{{blog.title.rendered}}</h5>
                    </a>

               
                    <p>{{blog.date | date}}</p>
                </div>

            </div>
       

        </div>

    </section> -->
  <section class="blog">
    <div class="container">
      <h3 class="circularBlack mt-sm-5 mt-2" style="text-align: center">
        GrabGuidance Knowledge Center
      </h3>
      <div class="view-allBlogs">
        <h6>
          <a href="https://www.grabguidance.com/blog/"
            >View All Articles &amp; Blog</a
          >
        </h6>
      </div>
      <div class="row mt-5 mx-0">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="blog_img">
            <a
              href="https://www.grabguidance.com/live-11-session/corporate-personality-in-the-retail-industry/"
            >
              <img
                src="http://img.youtube.com/vi/MG3yA8FhCCk/default.jpg"
                class="img5"
                alt=""
              />
            </a>
          </div>
          <div class="playshoebtn">
            <a
              href="https://www.grabguidance.com/live-11-session/corporate-personality-in-the-retail-industry/"
            >
              <button class="btn_play" style="border: none"></button>
              <span class="ply"
                ><img
                  class="play_image"
                  src="../../assets/images/Group_64299-removebg-preview.png"
                  alt=""
              /></span>
            </a>
          </div>
          <p>LIVE 1:1 SESSION</p>
          <a
            href="https://www.grabguidance.com/live-11-session/corporate-personality-in-the-retail-industry/"
          >
            <h5>
              Corporate Personality in the Retail Industry | 1:1 Live Session |
              GrabGuidance
            </h5>
          </a>
          <p>August 18, 2021</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="blog_img">
            <a
              href="https://www.grabguidance.com/live-11-session/11-live-session-on-human-resource-management/"
            >
              <img
                src="http://img.youtube.com/vi/NfVM-Sa9KFg/default.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="playshoebtn">
            <a
              href="https://www.grabguidance.com/live-11-session/11-live-session-on-human-resource-management/"
            >
              <button class="btn_play" style="border: none"></button>
              <span class="ply"
                ><img
                  class="play_image"
                  src="../../assets/images/Group_64299-removebg-preview.png"
                  alt=""
              /></span>
            </a>
          </div>
          <p>LIVE 1:1 SESSION</p>
          <a
            href="https://www.grabguidance.com/live-11-session/11-live-session-on-human-resource-management/"
          >
            <h5>
              1:1 Live Session on Human Resource Management | GrabGuidance |
              Online Career Counselling
            </h5>
          </a>
          <p>July 13, 2021</p>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <div class="blog_img">
            <a
              href="https://www.grabguidance.com/live-11-session/11-live-session-on-aviation-sector/"
            >
              <img
                src="http://img.youtube.com/vi/q7arDsvYDGA/default.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="playshoebtn">
            <a
              href="https://www.grabguidance.com/live-11-session/11-live-session-on-aviation-sector/"
            >
              <button class="btn_play" style="border: none"></button>
              <span class="ply"
                ><img
                  class="play_image"
                  src="../../assets/images/Group_64299-removebg-preview.png"
                  alt=""
              /></span>
            </a>
          </div>
          <p>LIVE 1:1 SESSION</p>
          <a
            href="https://www.grabguidance.com/live-11-session/11-live-session-on-aviation-sector/"
          >
            <h5>
              1:1 Live Session on Aviation Sector🧑‍✈️ | GrabGuidance | Online
              Career Counselling
            </h5>
          </a>
          <p>July 13, 2021</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="blog_img">
            <a
              href="https://www.grabguidance.com/live-11-session/grabguidance-11-online-session-on-career-counselling-for-10th-class-student/"
            >
              <img
                src="http://img.youtube.com/vi/ye_OQYP6hYo/default.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="playshoebtn">
            <a
              href="https://www.grabguidance.com/live-11-session/grabguidance-11-online-session-on-career-counselling-for-10th-class-student/"
            >
              <button class="btn_play" style="border: none"></button>
              <span class="ply"
                ><img
                  class="play_image"
                  src="../../assets/images/Group_64299-removebg-preview.png"
                  alt=""
              /></span>
            </a>
          </div>
          <p>LIVE 1:1 SESSION</p>
          <a
            href="https://www.grabguidance.com/live-11-session/grabguidance-11-online-session-on-career-counselling-for-10th-class-student/"
          >
            <h5>
              GrabGuidance 1:1 Online Session on Career Counselling for 10th
              Class Student
            </h5>
          </a>
          <p>July 13, 2021</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="overlay">
  <div
    class="modal fade"
    id="Geeks2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    style="
      position: fixed;
      top: 0px;
      left: 800px;
      width: 100vw;
      background-color: rgba(0, 0, 0, 8);
    "
    role="dialog"
  >
    <span class="closeframe"></span>
    <img
      class="close"
      data-dismiss="modal"
      aria-hidden="true"
      class="close-svg"
      src="../../assets/ggsvg/cross.svg"
      style="width: 30px"
    />
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content top" id="iframe">
        <div class="modal-body test">
          <iframe
            id="Geeks3"
            src="https://www.youtube.com/embed/F0xHUx-FCmw"
            frameborder="0"
            allowtransparency="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay">
  <div
    class="modal fade"
    id="Geekscap"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    style="
      position: fixed;
      top: 0px;
      left: 800px;
      width: 100vw;
      background-color: rgba(0, 0, 0, 8);
    "
    role="dialog"
  >
    <span class="closeframe"></span>
    <img
      class="close"
      data-dismiss="modal"
      aria-hidden="true"
      class="close-svg"
      src="../../assets/ggsvg/cross.svg"
      style="width: 30px"
    />

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content top" id="iframe">
        <div class="modal-body test">
          <iframe
            id="Geekscapf"
            src="https://www.youtube.com/embed/eQB1b--33Xk"
            frameborder="0"
            allowtransparency="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay">
  <div
    class="modal fade"
    id="Geeksmehak"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    style="
      position: fixed;
      top: 0px;
      left: 800px;
      width: 100vw;
      background-color: rgba(0, 0, 0, 8);
    "
    role="dialog"
  >
    <span class="closeframe"></span>
    <img
      class="close"
      data-dismiss="modal"
      aria-hidden="true"
      class="close-svg"
      src="../../assets/ggsvg/cross.svg"
      style="width: 30px"
    />
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content top" id="iframe">
        <div class="modal-body test">
          <iframe
            id="Geeksmehakf"
            src="https://www.youtube.com/embed/tFDn5kmDbdk"
            frameborder="0"
            allowtransparency="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay">
  <div
    class="modal fade"
    id="Geeksshery"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    style="
      position: fixed;
      top: 0px;
      left: 800px;
      width: 100vw;
      background-color: rgba(0, 0, 0, 8);
    "
    role="dialog"
  >
    <span class="closeframe"></span>
    <img
      class="close"
      data-dismiss="modal"
      aria-hidden="true"
      class="close-svg"
      src="../../assets/ggsvg/cross.svg"
      style="width: 30px"
    />
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content top" id="iframe">
        <div class="modal-body test">
          <iframe
            id="Geekssheryf"
            src="https://www.youtube.com/embed/rEHKlzK42J4"
            frameborder="0"
            allowtransparency="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
