<div *ngIf="spinnerFlag">
    <div class="myOverlay text-center">
        <div class="btn btn-static font-xl bg-light">
            <span class="fa fa-spinner rotate"> </span> Logging in, please wait...
        </div>
    </div>
</div>

<section class="section-login">
    <div class="fluid-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="backGround">
                    <a href="https://www.grabguidance.com/">
                        <img src="../../assets/images/GG Logo Asset 2.png" alt="" class="logog" />
                    </a>
                    <div class="row">
                        <div class="col-lg-7">
                            <h1>Get Personalised Online Guidance Anytime</h1>
                            <p>
                                Marketplace of Experts & Learners for Live 1-on-1 Sessions on Academic & Career Guidance
                            </p>
                        </div>
                        <div class="col-lg-5">
                            <img src="../../assets/images/GG Illustration-02.png" alt="" width="100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="log-img">
                                <img src="../../assets/images/GG Illustration-04.png" alt="" />
                                <p>Choose an Experienced & Qualified Experts yourself</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="log-img">
                                <img src="../../assets/images/GG Illustration-05.png" alt="" />
                                <p>
                                    Have Live Virtual Session Solution In-built on the Platform
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="log-img">
                                <img src="../../assets/images/GG Illustration-06.png" alt="" />
                                <p>Grab Quick Guidance through Short Sessions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="from">
                    <div class="modal-header">
                        <h6 class="ml-5 my-0">Help us to confirm it’s really you</h6>
                        <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body text-center" style="padding: 26px">
                        <form [formGroup]="OTPForm">
                            <div>
                                <p class="text-left small-text" style="line-height: 24px; color: black">
                                    Your account security is important to us. That’s why we texted your code to +91XXXXX{{ hideNumber }}
                                </p>
                                <p class="text-center mt-4 small-text">
                                    Enter your security code
                                </p>
                                <div class="row justify-content-center">
                                    <div class="form-group col-2 px-2" *ngFor="let txt of formInput; index as i">
                                        <input #formRow type="text" formControlName="{{ txt }}" class="form-control" maxlength="1" (keyup)="keyUpEvent($event, i)" />
                                    </div>
                                </div>
                                <p class="text-center mb-1 small-text">
                                    Didn’t get the code?
                                    <a (click)="resend()" class="circularMedium small-text">Resend code</a
                  >
                </p>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="btn circularMedium d-flex p-0"
              (click)="back()"
            >
              <span
                ><img src="../assets/ggsvg/back.svg" style="width: 30px"
              /></span>
              <span class="mt-1">BACK</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-login-mobile">
  <div class="fluid-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="from">
          <div class="modal-header">
            <h6 class="ml-5 my-0">Help us to confirm it’s really you</h6>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="close()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center" style="padding: 26px">
            <form [formGroup]="OTPForm">
              <div>
                <p
                  class="text-left small-text"
                  style="line-height: 24px; color: black"
                >
                  Your account security is important to us. That’s why we texted
                  your code to +91XXXXX
                  <span id="hideNumner"></span>
                </p>
                <p class="text-center mt-4 small-text">
                  Enter your security code
                </p>
                <div class="row justify-content-center">
                  <div
                    class="form-group col-2 px-2"
                    *ngFor="let txt of formInput; index as i"
                  >
                    <input
                      #formRow
                      type="text"
                      formControlName="{{ txt }}"
                      class="form-control"
                      maxlength="1"
                      (keyup)="keyUpEvent($event, i)"
                    />
                  </div>
                </div>
                <p class="text-center mb-1 small-text">
                  Didn’t get the code?
                  <a (click)="resend()" class="circularMedium small-text"
                    >Resend code</a
                  >
                </p>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="btn circularMedium d-flex p-0"
              (click)="back()"
            >
              <span
                ><img src="../assets/ggsvg/back.svg" style="width: 30px"
              /></span>
              <span class="mt-1">BACK</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="backGround">
          <a href="https://www.grabguidance.com/">
            <img src="../../assets/images/GG Logo Asset 2.png" alt="" class="logog" />
        </a>
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <h1>Get Personalised Online Guidance Anytime</h1>
                                            <p>
                                                Marketplace of Experts & Learners for Live 1-on-1 Sessions on Academic & Career Guidance
                                            </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <img src="../../assets/images/GG Illustration-02.png" alt="" width="100%" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="log-img">
                                                <img src="../../assets/images/GG Illustration-04.png" alt="" />
                                                <p>Choose an Experienced & Qualified Experts yourself</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="log-img">
                                                <img src="../../assets/images/GG Illustration-05.png" alt="" />
                                                <p>
                                                    Have Live Virtual Session Solution In-built on the Platform
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="log-img">
                                                <img src="../../assets/images/GG Illustration-06.png" alt="" />
                                                <p>Grab Quick Guidance through Short Sessions</p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
</section>