<nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse justify-content-left" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mr-5 pb-4 font-size17" >
                    <b [routerLink]="'upcoming'" #upcoming
                    routerLinkActive="active" class="circularBold pb-3 px-3">Upcoming</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5 pb-4 font-size17">
                    <b routerLink="past"
                    routerLinkActive="active" class="circularBold pb-3 px-3">Past</b>
                </a>
            </li>
        </ul>
    </div>
</nav>
