<!-- <footer class="footerBackAndNext mt-5 text-center">
    <div class="mt-3 pt-3">
        <button type="button" class="btn mr-5 circularMedium" (click)="back()"><span style="font-size: 25px;">&larr;</span> Back</button>
        <button  class="btn buttons ml-5 circularMedium nextBtn" (click)="next()" *ngIf="nextRoute != 'listing'">Next</button>
        <button class="btn buttons ml-5 circularMedium nextBtn" (click)="publishListing()" *ngIf="nextRoute == 'listing'">Publish Your Listing</button>
    </div>
</footer> -->