<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189120084-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-189120084-1');
    </script>
</head>
<section class="expert-navbar-boxModel">
    <nav class="navbar navbar-expand-lg black-bg">
        <a class="navbar-brand" href="#">
            <div class="dashboard-margin">
                <a href="https://www.grabguidance.com/">
                    <img src="../../assets/images/logo-whitebg.png" width="135" height="40" class="d-inline-block align-center logo-img-expert" alt=""></a>
                <span class="greyCE ml-3">|</span>
                <span class="circularBook font-size12 greyCE ml-2"> Confusion to Conclusion</span>
            </div>
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""> <i class="fas fa-bars"></i></span>
    </button> -->
        <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></span>
        <div class="collapse navbar-collapse items-center-align" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link circularBold mr-5  text-white" [routerLinkActiveOptions]="{exact: true}" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mr-2 paragraph mr-5  text-white" routerLink="sessions" routerLinkActive="active">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2 paragraph mr-5  text-white" routerLink="reviews" routerLinkActive="active">Review</a>
                </li>
                <li class="nav-item margin-left">
                    <button type="button" class="btn buttons" style="padding: 15px;" (click)="bookSession()">Book Now</button>
                </li>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="Imgurl" width="40" height="40" class="rounded-circle">
                        <span style="font-size: 20px;
           padding: 5px;
           font-weight: 700;
           margin-top: 0px;"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="dashboard()">Dashboard</a>
                        <a *ngIf="!isAdmin" class="dropdown-item" (click)="editProfile()">Edit Profile</a>
                        <a class="dropdown-item" (click)="logout()">Log Out</a>
                    </div>
            </ul>
        </div>
    </nav>
</section>